<?xml version="1.0"?>
<launch>

  <arg name="exp"/>
  <arg name="task"/>
  <arg name="cond"/>
  <arg name="id"/>

  <node name="logger" pkg="srs_user_tests" type="topics_bag.py" output="screen">
    <rosparam file="$(find srs_user_tests)/ros/config/$(arg exp)/bag_record.yaml" command="load" />
    <param name="bag_path" value="logs/$(arg id)/$(arg exp)/$(arg task)/$(arg cond)/"/>
  </node>
  
  <node name="logger_trigger" pkg="srs_user_tests" type="logger_trigger" output="screen"/>
  
</launch>
